<div class="container d-flex align-items-center justify-content-center min-vh-100 bg-light">
  <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
    <h3 class="text-center mb-4">Student Login</h3>
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()" >
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Enter email"
          [ngClass]="{'is-invalid': adminForm.get('email')?.touched && adminForm.get('email')?.invalid}"
          required
        />
        <div class="invalid-feedback" *ngIf="adminForm.get('email')?.errors?.['required']">
          Email is required.
        </div>
        <div class="invalid-feedback" *ngIf="adminForm.get('email')?.errors?.['email']">
          Please enter a valid email address.
        </div>
      </div>
      
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Password"
          [ngClass]="{'is-invalid': adminForm.get('password')?.touched && adminForm.get('password')?.invalid}"
          required
        />
        <div class="invalid-feedback" *ngIf="adminForm.get('password')?.errors?.['required']">
          Password is required.
        </div>
        <div class="invalid-feedback" *ngIf="adminForm.get('password')?.errors?.['minlength']">
          Password must be at least 6 characters.
        </div>
      </div>
      

      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>

    <div class="text-center mt-3">
      <p class="mb-0">If you are a Student
        <a routerLink='/register' class="text-decoration-none">Register here</a>
      </p>
    </div>
  </div>
</div>
